@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import '../node_modules/react-md/src/scss/react-md';

$md-primary-color: $md-blue-900;
$md-secondary-color: $md-yellow-a-400;

@include react-md-everything;

body {
  font-family: 'Roboto', sans-serif;
}

.loss {
  color: $md-red-a-200;
  background: $md-grey-200;
  border: 1px solid $md-grey-300;
  border-radius: 3px;
  padding: 10px;
  font-weight: 500;
}

.draw {
  color: $md-amber-a-700;
  @extend .loss;
}

.win {
  color: $md-green-a-200;
  @extend .loss;
}

.md-tile-text--primary {
  font-size: 1.2rem;
}

.md-pointer--hover:hover{
  cursor: default;
}

.md-avatar-content {
  font-size: 1.2rem;
}

.md-paper {
  margin-bottom: 10px;
}
